<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">

<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<property resource="application.properties" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p][%c{5}-%M] %d{MM/dd HH:mm:ss} - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="DEBUGLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${web.root}/logs/debug.log</File>
		<encoder>
			<pattern>[%p][%c{5}-%M] %d{MM/dd HH:mm:ss} - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>   
      		<maxIndex>100</maxIndex>
			<FileNamePattern>${web.root}/logs/debug.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="INFOLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${web.root}/logs/info.log</File>
		<encoder>
			<pattern>[%p][%c{5}-%M] %d{MM/dd HH:mm:ss} - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>   
      		<maxIndex>100</maxIndex>
			<FileNamePattern>${web.root}/logs/info.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="WARNLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${web.root}/logs/warn.log</File>
		<encoder>
			<pattern>[%p][%c{5}-%M] %d{MM/dd HH:mm:ss} - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>   
      		<maxIndex>100</maxIndex>
			<FileNamePattern>${web.root}/logs/warn.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="ERRORLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${web.root}/logs/error.log</File>
		<encoder>
			<pattern>[%p][%c{5}-%M] %d{MM/dd HH:mm:ss} - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>   
      		<maxIndex>100</maxIndex>
			<FileNamePattern>${web.root}/logs/error.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="SQLLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${web.root}/logs/batch_sql.log</File>
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss:SSS}[%p][%C-%M] -&gt; %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>   
      		<maxIndex>100</maxIndex>
			<FileNamePattern>${web.root}/logs/batch_sql.log.%i.zip</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender"> 
		<smtpHost>${mail.host}</smtpHost>
        <smtpPort>${mail.port}</smtpPort>  
        <username>${mail.username}</username>  
        <password>${mail.password}</password>
        <asynchronousSending>true</asynchronousSending>
        <to>${mail.to}</to>  
        <from>${mail.from}</from>
        <subject>${mail.subject}</subject>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>true</asynchronousSending>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" >  
            <pattern>%date%level%thread%logger{0}%message</pattern>  
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<logger name="org.hibernate.SQL" level="ERROR" additivity="false">
		<appender-ref ref="SQLLOG" />
	</logger>
	
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR" additivity="false">
		<appender-ref ref="SQLLOG" />
	</logger>
	
	<logger name="com.hkesports.matchticker.service" level="INFO">
		<appender-ref ref="EMAIL" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DEBUGLOG" />
		<appender-ref ref="INFOLOG" />
		<appender-ref ref="WARNLOG" />
		<appender-ref ref="ERRORLOG" />
	</root>
</configuration>